<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1966a3f118.js" crossorigin="anonymous"></script>
  <title>Dashboard</title>
  <style>
    #search_bar{
        position: absolute;
        width: 369px;
        height: 56px;
        left: 325px;
        top: 12px;
        /* border-radius: 40px;
        border: 1px solid #6249F2; */
        box-sizing: border-box;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #6249F2;
    }
    .hospital{
width: 1300px;
height: 70px;
left: 163px;
border: 1px solid #6249F2;
border-radius: 10px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .nav-btn{
        position: absolute;
width: 190px;
height: 41px;
left: 940px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 12px;
/* or 60% */

display: flex;
align-items: center;
text-align: center;

color: #6249F2;
    }
    .nav-btn1{
        position: absolute;
width: 190px;
height: 41px;
left: 1110px;
top: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 12px;
/* or 60% */

display: flex;
align-items: center;
text-align: center;

color: #6249F2;
    }
    .view_btn{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            position:absolute;
            top:25px;
            left:887px;
            color: #FFFFFF;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-white">
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="/search" method="GET">
            <div id="search_bar">
                <input type="text" id="dsearch" name="dsearch" class="form-control border-1  small" style="border-radius: 40px; color:#6249F2; border-color: #6249F2;" placeholder="Search Hospital"
                    aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn" style="color:#6249F2" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <li class="nav-btn"> <a href="/patient_bookings/<%=user._id%>" style="text-decoration: none; color:#6249F2;">My Appointments</a></li>
        <li class="nav-btn1">Profile</li>
        
    </nav>
    
    
    <div class="container" style="margin-top:50px;">
        <div class="row mx-5 my-5 py-5 px-5">
            <% hospitals.forEach(function(hospital){%>
                <div class="hospital" style="margin-bottom: 20px;">
                    <div class="card-body">
                        <!-- <div class="card-text" style=" margin-bottom:5px;font-size:16.5px; align-items: center; justify-items:center; justify-content: center;"><%=hospital.name%></div>   -->
                        <div class="card-text" style="font-size:16.5px; align-items:center; justify-items:center; justify-content:center">
                            <div class="row">
                                <div class="col-md-3">
                                    <%=hospital.name%>
                                </div>
                                <div class="col-md-4">
                                    <%=hospital.address%>
                                </div>
                                <div class="col-md-5" style="padding-left:210px;">
                                    <div class="view" style="margin:0px; width: 170px; height: 40px; border-radius: 48px;background: #6249F2;"><h3 class="view_btn"><a href="/doctor/view/<%=hospital._id%>" style="text-decoration: none; color:white;">View Doctors</a></h3></div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="view" style="margin:0px; width: 120px; height: 40px; border-radius: 48px;background: #6249F2;">Add</div>
                                </div> -->
                            </div>
                            <!-- <li style="list-style:none;"><div class="view" style="margin:0px; width: 120px; height: 40px; border-radius: 48px;background: #6249F2;">Add</div></li> -->
                        </div>
                    </div>
            
                </div>
            <%})%>
        </div>
    </div>
</body>